<link rel="stylesheet" href="/css/register_form.css">

<div class="container">
    <form action="" class="register__form">
        <div class="register__form__group">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username" placeholder="Ej.: FloatingHero"
                class="register__form__group__input">
        </div>
        <div class="register__form__group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ej.: ejemplo@dominio.com"
                class="register__form__group__input">
        </div>
        <div class="register__form__group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="********"
                class="register__form__group__input">
        </div>
        <div class="register__form__group">
            <label for="confirm__password">Confirme su contraseña</label>
            <input type="password" name="confirm__password" id="confirm__password" placeholder="********"
                class="register__form__group__input">
            <small>Mínimo 8 caracteres</small>
        </div>
        <div class="register__form__group">
            <button>
                Registrarse
            </button>
        </div>
    </form>
</div>