.container {
    min-height: 85vh;
}

.container, .contact__form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__form__group {
    margin: 2em 0;
}

.contact__form__group__input {
    border-radius: 5px;
    border: 1px solid var(--primary_color);
    text-align: center;
    width: 380px;
    padding: 5px 5px;
    margin: 5px 0;
    outline: none;
}

.contact__form__group__submit {
    height: 40px;
    background-color: transparent;
    width: 190px;
    border-radius: 5px;
    border: 1px solid var(--primary_color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact__form__group__submit:hover {
    background-color: var(--primary_color);
    color: #fff;
}

.errors {
    color: #fff;
    border-radius: 5px;
    padding: 1em 1em;
    background-color: #ff1a1a;
    border: 2.5px solid #990000;
}