/* MOBILE FIRST */

.navbar {
    grid-template-rows: span 2;
    background-color: var(--primary_color);
    color: #fff;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    padding: 0 1.5em;
    overflow: hidden;
}

.navbar__brand {
    grid-row: span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand--toUpperCase {
    text-transform: uppercase;
}

#navbar__list {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
    height: 0;
}

.navbar__list__item {
    text-decoration: none;
    display: block;
    color: #fff;
}

#navbar__list.toggle__list {
    grid-row: 2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
    visibility: visible;
    opacity: 1;
    height: auto;
}

#profile_image {
    display: none;
}

.navbar__list__item__sublist__item  {
    color: #fff;
    text-decoration: none;
}

#navbar__list__item__sublist {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
}

.navbar__list__sublist__item__form__submit {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
}

/* DESKTOP DEVICES*/

@media screen and (min-width: 800px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar__icon {
        display: none;
    }

    #navbar__list {
        display: flex;
        gap: 2em;
        visibility: visible;
        opacity: 1;
        height: auto;
        align-items: center;
    }

    .navbar__list__item {
        margin: 0 16px;
    }

    .navbar__list__item:hover {
        text-decoration: underline;
    }

    .navbar__list__item__sublist__item {
        color: #fff;
        text-decoration: none;
        padding: 7px 1em;
    }

    #profile_image {
        display: inline;
        visibility: visible;
        opacity: 1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #808080;
        background-size: 32px 32px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        margin-right: 35px;
    }

    #navbar__list__item__sublist {
        display: none;
        list-style-type: none;
        visibility: hidden;
        opacity: 0;
        position: relative;
        right: 5px;
        top: 3em;
        border-radius: 10px;
    }

    #navbar__list__item__sublist.hide__sublist {
        display: none;
    }

    #navbar__list__item__sublist.toggle__sublist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        padding: 1em 0;
        visibility: visible;
        opacity: 1;
        height: auto;
        position: absolute;
        background-color: var(--primary_color);
    }

    .navbar__list__item__sublist__item:hover, .navbar__list__sublist__item__form__submit:hover {
        text-decoration: underline;
    }
}