.container {
    min-height: 75vh;
}

.container, .register__form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.register__form__group {
    gap: 1em;
    margin: 1em 0;
}

.register__form__group__input {
    width: 380px;
    border: 1px solid #000;
    padding: 5px 5px;
    border-radius: 2em;
    outline: none;
}