<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/nav.css">

<nav class="navbar">
    <div class="navbar__brand">
        <h3 class="navbar__brand--toUpperCase">
            Contactify
        </h3>

        <span class="material-icons" id="navbar__icon">
            reorder
        </span>
    </div>


    <div id="navbar__list">
        <a href="/" class="navbar__list__item">Inicio</a>

        {{#if user}}

            <a href="/contactos" class="navbar__list__item">Contactos</a>
            <a href="javascript:void(0)" class="navbar__list__item" id="username">{{getFirstLetter user.username}}</a>
            <div id="navbar__list__item__sublist">
                <a href="/perfil" class="navbar__list__item__sublist__item">Perfil</a>
                <div class="navbar__list__item__sublist__item">
                    <form action="/logout" method="post" class="navbar__list__sublist__item__form">
                        <button type="submit" class="navbar__list__sublist__item__form__submit">
                            Cerrar sesión
                        </button>
                    </form>
                </div>
            </div>

        {{else}}
            <a href="/formulario-registro" class="navbar__list__item">Registro</a>
            <a href="/formulario-login" class="navbar__list__item">Login</a>
        {{/if}}

    </div>
</nav>

<script src="/js/nav.js"></script>